@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap");
html {
  scroll-behavior: smooth;
}

:root {
  --poppins: 'Poppins', sans-serif;
  --marker: 'Permanent Marker', cursive;
  --testimonial-font: 'Oregano', cursive;
  --roboto: 'Roboto Serif', serif;
  --title: 2rem;
  --subtitle: 1rem;
  --font-s1: 14px;
  --font-s2: 18px;
  --font-s3: 20px;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.btn {
  padding: 10px 30px;
  border-radius: 13px;
  border: none;
  font-family: var(--poppins);
  font-weight: 500;
  font-size: var(--font-s1);
  cursor: pointer;
}

@media (max-width: 970px) {
  .btn {
    padding: 5px 20px;
  }
}

.btn-default {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#D26CDA), to(#7053CE));
  background-image: linear-gradient(to right, #D26CDA, #7053CE);
  -webkit-box-shadow: 3px 4px 0px 2px #6e48bc, 6px 6px 0px 5px #5935a1;
          box-shadow: 3px 4px 0px 2px #6e48bc, 6px 6px 0px 5px #5935a1;
  position: relative;
  text-decoration: none;
}

.btn-default::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  left: 4px;
  top: 6px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

@media (max-width: 970px) {
  .btn-default:active {
    -webkit-box-shadow: 1px 2px 0px 2px #6e48bc, 6px 6px 0px 0px #5935a1;
            box-shadow: 1px 2px 0px 2px #6e48bc, 6px 6px 0px 0px #5935a1;
    -webkit-transform: translate(10px, 3px);
            transform: translate(10px, 3px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
  }
}

.btn-default.click {
  -webkit-box-shadow: 1px 2px 0px 2px #6e48bc, 6px 6px 0px 0px #5935a1;
          box-shadow: 1px 2px 0px 2px #6e48bc, 6px 6px 0px 0px #5935a1;
  -webkit-transform: translate(10px, 3px);
          transform: translate(10px, 3px);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.nav-section {
  background-image: radial-gradient(at top, #401C5E 10%, #0C0D28 90%);
  padding-bottom: 100px;
}

@media (max-width: 970px) {
  .nav-section {
    padding-bottom: 30px;
  }
}

.mobile-navbar-mask {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 888;
  display: none;
}

@media (min-width: 970px) {
  .mobile-navbar-mask {
    display: none;
  }
}

.mobile-navbar {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  left: -100vw;
  top: 0;
  bottom: 0;
  background-color: #0C0925;
  width: 290px;
  z-index: 999;
}

@media (min-width: 970px) {
  .mobile-navbar {
    display: none;
  }
}

.mobile-navbar .logo {
  width: 80px;
  padding: 20px;
}

.mobile-navbar .menu-container .login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0f0b30;
  padding: 0 20px;
}

.mobile-navbar .menu-container .login-container .login-link {
  font-family: var(--poppins);
  font-size: var(--font-s1);
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  margin: 20px 0;
  border: 1px solid #D65388;
  padding: 7px 30px;
  border-radius: 10px;
  background-color: #D65388;
}

.mobile-navbar .menu-container .login-container .register {
  background-color: transparent;
  color: #D65388;
  position: relative;
  margin-right: 30px;
}

.mobile-navbar .menu-container .login-container .register::before {
  position: absolute;
  content: '';
  height: 50%;
  width: 1px;
  background-color: #fff;
  right: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mobile-navbar .menu-container .menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 10px;
}

.mobile-navbar .menu-container .menu-list li a {
  text-decoration: none;
  color: #a7a7a7;
  font-family: var(--poppins);
  font-size: var(--font-s1);
  display: block;
  padding: 10px;
}

.mobile-navbar .menu-container .menu-list li a:active {
  color: #fff;
}

.mobile-navbar .menu-container .menu-list li a.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-navbar .menu-container .menu-list li a.flex svg {
  margin-left: 5px;
}

.mobile-navbar .menu-container .menu-list li .inner-link {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 20px;
}

.mobile-navbar .menu-container .menu-list li .inner-link li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-navbar .menu-container .menu-list li .inner-link li a img {
  width: 20px;
}

.mobile-navbar .menu-container .menu-list li .inner-link li a span {
  display: inline-block;
  margin-left: 10px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 10;
}

@media (max-width: 970px) {
  .navbar {
    padding: 20px;
  }
}

.navbar .logo-container .logo {
  width: 100px;
}

@media (max-width: 970px) {
  .navbar .logo-container .logo {
    width: 60px;
  }
}

@media (max-width: 970px) {
  .navbar .nav-menu-container {
    display: none;
  }
}

.navbar .nav-menu-container .nav-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-menu-container .nav-menu-list .nav-list {
  margin: 0 15px;
}

.navbar .nav-menu-container .nav-menu-list .nav-list .nav-link {
  text-decoration: none;
  color: #dcdcdc;
  font-family: var(--poppins);
}

.navbar .nav-menu-container .nav-menu-list .nav-list .nav-link:hover {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .login-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .login-section .login-txt {
  margin-right: 40px;
  font-family: var(--poppins);
  color: #fff;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}

@media (max-width: 970px) {
  .navbar .login-section .login-txt {
    display: none;
  }
}

.navbar .login-section .login-txt::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background-color: #fff;
  right: -20px;
}

@media (max-width: 970px) {
  .navbar .login-section .mobile-margin {
    margin-right: 30px;
  }
}

.navbar .login-section .mobile-menu {
  margin-top: 10px;
}

@media (min-width: 970px) {
  .navbar .login-section .mobile-menu {
    display: none;
  }
}

.navbar .login-section .mobile-menu .toggle-menu svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.anchor {
  padding-top: 30px;
}

@media (max-width: 970px) {
  .anchor {
    padding-top: 50px;
  }
}

#skill {
  padding-top: 100px;
}

.splide__pagination {
  bottom: -50px;
}

.hero-section {
  padding-top: 150px;
  margin-bottom: 50px;
  position: relative;
}

.hero-section .star_cover {
  position: absolute;
}

.hero-section .star_cover.star_cover1 {
  top: 0;
  left: 20vw;
  width: 30px;
}

.hero-section .star_cover.star_cover2 {
  top: 30vh;
  right: 1px;
  width: 20px;
}

.hero-section .star {
  position: absolute;
}

.hero-section .star1 {
  top: 10vh;
  left: 10vw;
  -webkit-animation: star1 1s linear 0s infinite alternate;
          animation: star1 1s linear 0s infinite alternate;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

@-webkit-keyframes star1 {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  50% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-filter: blur(9px);
            filter: blur(9px);
  }
}

@keyframes star1 {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  50% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-filter: blur(9px);
            filter: blur(9px);
  }
}

.hero-section .star2 {
  top: 50vh;
  left: 20vw;
  -webkit-animation: star2 2s linear 0s infinite alternate;
          animation: star2 2s linear 0s infinite alternate;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

@-webkit-keyframes star2 {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  50% {
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }
  100% {
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
}

@keyframes star2 {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  50% {
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }
  100% {
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
}

.hero-section .star3 {
  top: 20vh;
  right: 10px;
  -webkit-animation: star3 1s linear 0s infinite alternate;
          animation: star3 1s linear 0s infinite alternate;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

@-webkit-keyframes star3 {
  0% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  50% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
}

@keyframes star3 {
  0% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  50% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
}

.hero-section .star4 {
  bottom: 40vh;
  right: 30vw;
  -webkit-animation: star4 1s linear 0s infinite alternate;
          animation: star4 1s linear 0s infinite alternate;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes star4 {
  0% {
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }
  50% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes star4 {
  0% {
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }
  50% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

.hero-section .star5 {
  top: -5vh;
  left: 50vw;
  -webkit-animation: star1 1s linear 0s infinite alternate;
          animation: star1 1s linear 0s infinite alternate;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.hero-section .hero-title {
  font-family: var(--poppins);
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding: 0 15%;
  line-height: 60px;
}

@media (max-width: 970px) {
  .hero-section .hero-title {
    padding: 0 30px;
    font-size: 2.5rem;
    line-height: 40px;
  }
}

.hero-section .hero-title span {
  font-family: var(--marker);
}

.hero-section .hero-subtitle {
  font-family: var(--poppins);
  text-align: center;
  width: 50%;
  margin: 0 auto;
  color: #C8C8C8;
  margin-top: 30px;
}

@media (max-width: 970px) {
  .hero-section .hero-subtitle {
    width: unset;
    text-align: center;
    padding: 10px 30px;
    margin-top: 10px;
  }
}

.hero-section .see-pricing {
  margin-top: 50px;
}

@media (max-width: 970px) {
  .hero-section .see-pricing {
    margin-top: 20px;
  }
}

.hero-img-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-top: 80px;
}

.hero-img-container .hero-img-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 650px;
  height: 300px;
}

@media (max-width: 600px) {
  .hero-img-container .hero-img-section {
    width: 360px;
  }
}

.hero-img-container .hero-img-section .hero-box {
  background-color: #121733;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #BF7199;
  position: absolute;
  -webkit-box-shadow: 10px 10px 30px 10px rgba(214, 83, 136, 0.2);
          box-shadow: 10px 10px 30px 10px rgba(214, 83, 136, 0.2);
}

.hero-img-container .hero-img-section .hero-box .box-title {
  margin-bottom: 5px;
  padding: 5px 0;
  font-family: var(--poppins);
  font-weight: 400;
  color: #fff;
  font-size: var(--font-s1);
}

.hero-img-container .hero-img-section .hero-box .box-image .hero-box-image {
  width: 200px;
  height: 200px;
}

@media (max-width: 600px) {
  .hero-img-container .hero-img-section .hero-box .box-image .hero-box-image {
    width: 100px;
    height: 100px;
  }
}

.hero-img-container .hero-img-section .middle-box {
  z-index: 3;
  -webkit-animation: hero-middle 5s linear 0s infinite alternate;
          animation: hero-middle 5s linear 0s infinite alternate;
}

.hero-img-container .hero-img-section .middle-box .box-title {
  font-size: var(--font-s2);
}

.hero-img-container .hero-img-section .middle-box .box-image .hero-box-image {
  width: 250px;
  height: 250px;
}

@media (max-width: 600px) {
  .hero-img-container .hero-img-section .middle-box .box-image .hero-box-image {
    width: 150px;
    height: 150px;
  }
}

@-webkit-keyframes hero-middle {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes hero-middle {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.hero-img-container .hero-img-section .hero-box1 {
  left: 0;
  z-index: 2;
  -webkit-animation: hero1 2s linear 0s infinite alternate;
          animation: hero1 2s linear 0s infinite alternate;
}

@-webkit-keyframes hero1 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes hero1 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.hero-img-container .hero-img-section .hero-box3 {
  right: 0;
  z-index: 2;
  -webkit-animation: hero2 2s linear 0s infinite alternate;
          animation: hero2 2s linear 0s infinite alternate;
}

@-webkit-keyframes hero2 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  80% {
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes hero2 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  80% {
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.featured {
  font-family: var(--poppins);
  font-size: var(--font-s2);
  font-weight: 500;
  color: #fff;
}

.company-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  padding-bottom: 60px;
}

@media (max-width: 970px) {
  .company-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.company-section .company-box {
  margin: 0 20px;
}

.section {
  padding: 50px 0;
}

.section .section-title {
  font-family: var(--poppins);
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding: 0 30%;
}

@media (max-width: 970px) {
  .section .section-title {
    padding: 0 20px;
    line-height: 45px;
    font-size: 2rem;
  }
}

.section .section-subtitle {
  margin-top: 5px;
  font-family: var(--poppins);
  color: #999999;
  text-align: center;
  padding: 0 30%;
}

@media (max-width: 970px) {
  .section .section-subtitle {
    padding: 20px;
  }
}

.light-anime {
  position: relative;
  overflow: hidden;
}

.light-anime::before {
  position: absolute;
  left: -30px;
  top: 0;
  top: 450px;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #D65388;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 10px 10px #c34c83, 0px 0px 20px 20px rgba(195, 76, 131, 0.8), 0px 0px 50px 50px rgba(195, 76, 131, 0.6), 0px 0px 80px 80px rgba(195, 76, 131, 0.4), 0px 0px 120px 120px rgba(195, 76, 131, 0.2), 0px 0px 200px 100px rgba(195, 76, 131, 0.1);
          box-shadow: 0px 0px 10px 10px #c34c83, 0px 0px 20px 20px rgba(195, 76, 131, 0.8), 0px 0px 50px 50px rgba(195, 76, 131, 0.6), 0px 0px 80px 80px rgba(195, 76, 131, 0.4), 0px 0px 120px 120px rgba(195, 76, 131, 0.2), 0px 0px 200px 100px rgba(195, 76, 131, 0.1);
}

@media (max-width: 600px) {
  .light-anime::before {
    top: 406px;
  }
}

.light-anime::after {
  position: absolute;
  right: -30px;
  top: 223px;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #D65388;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 10px 10px #c34c83, 0px 0px 20px 20px rgba(195, 76, 131, 0.8), 0px 0px 50px 50px rgba(195, 76, 131, 0.6), 0px 0px 80px 80px rgba(195, 76, 131, 0.4), 0px 0px 120px 120px rgba(195, 76, 131, 0.2), 0px 0px 200px 200px rgba(195, 76, 131, 0.1);
          box-shadow: 0px 0px 10px 10px #c34c83, 0px 0px 20px 20px rgba(195, 76, 131, 0.8), 0px 0px 50px 50px rgba(195, 76, 131, 0.6), 0px 0px 80px 80px rgba(195, 76, 131, 0.4), 0px 0px 120px 120px rgba(195, 76, 131, 0.2), 0px 0px 200px 200px rgba(195, 76, 131, 0.1);
}

@media (max-width: 600px) {
  .light-anime::after {
    top: 100px;
  }
}

.graphic-section {
  position: relative;
}

.graphic-section .graphic-btns {
  position: absolute;
  padding: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 10px 5px rgba(214, 83, 136, 0.5);
          box-shadow: 0px 2px 10px 5px rgba(214, 83, 136, 0.5);
}

@media (max-width: 970px) {
  .graphic-section .graphic-btns {
    display: none;
  }
}

.graphic-section .graphic-btns:hover {
  background-color: #D65388;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.graphic-section .graphic-btns:hover svg {
  fill: #fff;
}

.graphic-section .graphic-btns svg {
  width: 20px;
  height: 20px;
}

.graphic-section .graphic-right {
  right: 10px;
}

.graphic-section .graphic-left {
  left: 10px;
}

.graphic-section .graphic-container {
  width: 100%;
  overflow: hidden;
  padding-bottom: 15px;
  margin-top: 20px;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

@media (max-width: 970px) {
  .graphic-section .graphic-container {
    overflow: auto;
  }
}

.graphic-section .graphic-container::-webkit-scrollbar {
  height: 0px;
}

@media (max-width: 970px) {
  .graphic-section .graphic-container::-webkit-scrollbar {
    height: 5px;
  }
}

.graphic-section .graphic-container::-webkit-scrollbar-track {
  background: #190d33;
}

.graphic-section .graphic-container::-webkit-scrollbar-thumb {
  background: #494949;
  border-radius: 20px;
}

.graphic-section .graphic-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.graphic-section .graphic-container .graphic-scrollar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 970px) {
  .graphic-section .graphic-container .graphic-scrollar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.graphic-box {
  position: relative;
  width: 220px;
  padding-top: 27px;
  display: inline-block;
  margin-left: 15px;
}

@media (max-width: 970px) {
  .graphic-box {
    margin-top: 10px;
  }
}

.graphic-box:last-child {
  margin-right: 20px;
}

.graphic-box .graphic-box-body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#D65388), to(#19195C));
  background-image: linear-gradient(to bottom, #D65388, #19195C);
  padding: 10px;
  position: relative;
  border-radius: 0 10px 10px 10px;
}

.graphic-box .graphic-box-body .design-place {
  position: absolute;
  height: 30px;
  width: 73px;
  background-color: #D65388;
  left: 0;
  top: -15px;
  -webkit-clip-path: polygon(0 0, 47% 0, 100% 100%, 0 99%);
          clip-path: polygon(0 0, 47% 0, 100% 100%, 0 99%);
  border-radius: 10px;
}

.graphic-box .graphic-box-body .graphic-image-box {
  position: relative;
  background-color: #fff;
  min-height: 200px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
  border-radius: 5px;
}

.graphic-box .graphic-box-body .graphic-image-box .graphic-name {
  position: absolute;
  top: -1px;
  right: -1px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#D65388), to(#B44980));
  background-image: linear-gradient(to bottom, #D65388, #B44980);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 21% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 21% 100%);
  width: 160px;
  padding: 5px;
}

.graphic-box .graphic-box-body .graphic-image-box .graphic-name .name {
  text-align: right;
  font-family: var(--poppins);
  font-size: 12px;
  color: #fff;
  font-weight: 500;
}

.graphic-box .graphic-box-body .graphic-image-box .graphic-box-image {
  width: 100px;
  border-radius: 0 10px 10px 10px;
}

.graphic-box .graphic-box-body .graphic-box-details {
  padding-top: 5px;
  text-align: center;
}

.graphic-box .graphic-box-body .graphic-box-details .person-name {
  font-family: var(--poppins);
  color: #fff;
  font-size: 16px;
}

.graphic-box .graphic-box-body .graphic-box-details .person-desg {
  margin-top: 2px;
  font-family: var(--poppins);
  font-size: 11px;
  color: #fff;
}

.inner-section {
  margin-top: 60px;
}

.testimonial-section {
  margin: 100px 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.testimonial-section .star_cover {
  position: absolute;
}

.testimonial-section .star_cover.star_cover1 {
  top: -10vw;
  left: 20vw;
  width: 30px;
}

.testimonial-section .star_cover.star_cover2 {
  top: 30vh;
  right: 20vw;
  width: 20px;
}

.testimonial-section .star {
  position: absolute;
}

.testimonial-section .star1 {
  top: 0;
  left: 0;
  -webkit-animation: star1 1s linear 0s infinite alternate;
          animation: star1 1s linear 0s infinite alternate;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

@keyframes star1 {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  50% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-filter: blur(9px);
            filter: blur(9px);
  }
}

.testimonial-section .star2 {
  top: 50vh;
  left: 20vw;
  -webkit-animation: star2 2s linear 0s infinite alternate;
          animation: star2 2s linear 0s infinite alternate;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

@keyframes star2 {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  50% {
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }
  100% {
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
}

.testimonial-section .star3 {
  top: 12vh;
  right: 3vw;
  -webkit-animation: star3 1s linear 0s infinite alternate;
          animation: star3 1s linear 0s infinite alternate;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

@keyframes star3 {
  0% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  50% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
}

.testimonial-section .star4 {
  bottom: 40vh;
  right: 30vw;
  -webkit-animation: star4 1s linear 0s infinite alternate;
          animation: star4 1s linear 0s infinite alternate;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@keyframes star4 {
  0% {
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }
  50% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

.testimonial-section .star5 {
  top: -5vh;
  left: 50vw;
  -webkit-animation: star1 1s linear 0s infinite alternate;
          animation: star1 1s linear 0s infinite alternate;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

@media (max-width: 970px) {
  .testimonial-section {
    margin: 20px;
  }
}

.testimonial-section .testimonial-container {
  width: 60%;
}

@media (max-width: 970px) {
  .testimonial-section .testimonial-container {
    width: 90vw;
  }
}

.testi-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 970px) {
  .testi-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.testi-box .testi-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  height: 150px;
}

.testi-box .testi-header .testi-image {
  width: 100px;
  padding: 10px;
}

.testi-box .testi-body {
  margin-left: 50px;
}

@media (max-width: 970px) {
  .testi-box .testi-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
}

.testi-box .testi-body .testi-title {
  font-family: var(--poppins);
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}

@media (max-width: 970px) {
  .testi-box .testi-body .testi-title {
    margin-top: 30px;
  }
}

.testi-box .testi-body .testi-subtitle {
  font-size: 14px;
  font-family: var(--poppins);
  color: #b9b9b9;
  margin-top: 10px;
  line-height: 25px;
}

@media (max-width: 970px) {
  .testi-box .testi-body .testi-subtitle {
    margin-top: 5px;
  }
}

.testi-box .testi-body .testi-name {
  margin-top: 40px;
  font-family: var(--poppins);
  font-size: var(--font-s1);
  color: #c0c0c0;
  border: 1px solid #D65388;
  background-color: #D65388;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: 500;
}

@media (max-width: 970px) {
  .testi-box .testi-body .testi-name {
    margin-top: 25px;
  }
}

#testimonial .splide__arrow--prev {
  left: -5em;
}

#testimonial .splide__arrow--next {
  right: -5em;
}

@media (max-width: 970px) {
  #testimonial .splide__arrow--prev {
    left: -3em;
  }
  #testimonial .splide__arrow--next {
    right: 1em;
  }
  #testimonial .splide__pagination {
    bottom: -2.5em;
  }
}

@media (max-width: 600px) {
  #testimonial .splide__arrow--prev {
    left: 0em;
    top: 70px;
  }
  #testimonial .splide__arrow--next {
    top: 70px;
    right: 0em;
  }
}

.work-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

@media (max-width: 970px) {
  .work-box-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.work-box-container .work-box {
  background: -webkit-gradient(linear, left top, left bottom, from(#C34C83), to(#241C5F));
  background: linear-gradient(to bottom, #C34C83, #241C5F);
  width: 200px;
  padding: 20px 20px 60px 20px;
  margin: 0 15px;
  border-radius: 150px;
  outline: 4px dashed #C34C83;
  -webkit-box-shadow: 0px 10px 20px 5px rgba(195, 76, 131, 0.4);
          box-shadow: 0px 10px 20px 5px rgba(195, 76, 131, 0.4);
  position: relative;
}

@media (max-width: 970px) {
  .work-box-container .work-box {
    margin: 15px;
  }
}

.work-box-container .work-box::before {
  position: absolute;
  font-family: var(--roboto);
  font-size: 10rem;
  font-weight: 700;
  color: #FFFFFF;
  bottom: -21px;
  left: 50%;
  opacity: 0.1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.work-box-container .work-box .work-box-image-container {
  text-align: center;
}

.work-box-container .work-box .work-box-image-container .work-box-image {
  width: 120px;
}

.work-box-container .work-box .work-box-details .work-title {
  font-family: var(--poppins);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 25px;
  color: #fff;
  margin-top: 30px;
}

.work-box-container .work-box .work-box-details .work-details {
  text-align: center;
  color: #cfcfcf;
  font-family: var(--poppins);
  font-size: 13px;
  margin-top: 10px;
}

footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0C0925;
  padding: 30px;
  padding-bottom: 50px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  position: relative;
}

@media (max-width: 970px) {
  footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer .footer-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 10px;
  z-index: 10;
}

footer .footer-box .footer-logo {
  text-align: center;
}

footer .footer-box .footer-logo .logo {
  width: 80px;
}

footer .footer-box .logo-quote {
  text-align: center;
  font-family: var(--poppins);
  font-size: var(--font-s2);
  color: #a4a4a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-box .logo-quote svg {
  margin: 0 4px;
}

footer .footer-box .logo-quote2 {
  font-size: var(--font-s1);
}

footer .footer-box .footer-box-header {
  font-family: var(--poppins);
  font-size: var(--font-s3);
  color: #a4a4a4;
  padding: 0 10px;
  font-weight: 600;
}

@media (max-width: 970px) {
  footer .footer-box .footer-box-header {
    margin-top: 20px;
    position: relative;
  }
  footer .footer-box .footer-box-header::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    top: -5px;
  }
}

footer .footer-box .footer-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer .footer-box .footer-list li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #a4a4a4;
  font-family: var(--poppins);
  font-size: var(--font-s1);
  border-radius: 5px;
}

footer .footer-box .footer-list li a:hover {
  background-color: #130e3d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer-box.light-on .logo-quote {
  color: #fff;
}

footer .footer-box.light-on .logo-quote span svg {
  fill: red;
}

footer .footer-box.light-on .social a svg {
  fill: #919191;
}

footer .footer-box.light-on .social a:hover svg {
  fill: #fff;
}

footer .footer-box.light-on .footer-box-header {
  color: #fff;
}

footer .footer-box.light-on .footer-list li a {
  color: #fff;
}

.cotact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 20px;
}

@media (max-width: 970px) {
  .cotact-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cotact-section .my-contacts {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.contact-title {
  font-family: var(--poppins);
  color: #ffff;
  font-size: 15px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.social a {
  margin: 0 5px;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social a svg {
  width: 20px;
  height: 20px;
  fill: #919191;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social a:hover {
  border: 1px solid #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social a:hover svg {
  fill: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social2 a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social2 a:first-child {
  margin-top: 10px;
}

.social2 a:not(:first-child) {
  margin-top: 20px;
}

.social2 a svg {
  fill: #fff;
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.social2 a span {
  color: #fff;
  font-family: var(--poppins);
  font-size: 13px;
}

.mobile-logo {
  padding: 20px;
}

.logotxt {
  font-size: 3rem;
  color: #fff;
  font-family: var(--testimonial-font);
  text-decoration: none;
}

.section-relative {
  position: relative;
}

.section-relative .cube-container {
  position: absolute;
  left: 0%;
  bottom: 20px;
}

@media (max-width: 970px) {
  .section-relative .cube-container {
    left: -18vw;
    top: 31vh;
  }
}

.talk-section {
  font-family: var(--poppins);
  font-size: 14px;
  color: #fff;
  margin-bottom: 5px;
}

.language-section {
  margin: 30px 0;
}

.language-boxes {
  text-align: center;
  margin-top: 5px;
}

.language-boxes .lang {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #03011a;
  border: none;
  color: #fff;
}

.skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.skill-container .skill-box-container {
  width: 40vw;
  margin-top: 20px;
}

@media (max-width: 970px) {
  .skill-container .skill-box-container {
    width: 95vw;
  }
}

.skill-container .skill-box-container .skill-title {
  font-family: var(--poppins);
  color: #fff;
  margin-bottom: 5px;
  text-align: center;
}

.skill-container .skill-box-container .skill-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-container .skill-box-container .skill-box .skill-btn {
  font-weight: 600;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}
/*# sourceMappingURL=style.css.map */